# dotnet
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Node
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local

# IDE
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

# OS-specific
Thumbs.db
.DS_Store
